/* Постійні клієнти */
.customers {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.partner-logotyp + .partner-logotyp {
  margin-left: 30px;
}

.logotyp {
  display: inline-block;
  box-sizing: border-box;
  height: 90px;
  width: 170px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-1 {
  padding: 20px 63px;
}
.logo-2 {
  padding: 19px 65px;
}
.logo-3 {
  padding: 24px 64px;
}
.logo-4 {
  padding: 24px 45px;
}
.logo-5 {
  padding: 22px 55px;
}
.logo-6 {
  padding: 22px 40px;
}
.logotyp:hover,
.logotyp:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}
.regular-customers {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 94px;
  padding-top: 94px;

  & h2 {
    margin-bottom: 50px;
    font-weight: 600;
  }
}
