/* header */
.header {
  background-color: $primary-white-color;
}

.header-nav,
.header-links,
.header-contacts {
  display: flex;
  align-items: center;
}

.header-nav .nav-item .header-fedback {
  padding: 52px 0;
}
.nav-item .header-fedback + .header-fedback {
  margin-left: 50px;
}
.header-link {
  position: relative;
  padding: 32px 0;
}
.header-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  height: 4px;
  opacity: 0;
  transition: opacity $animation-duration $animation-type;
  background-color: $accent-color;
}
.curent-link .header-link::after,
.header-link:focus::after,
.header-link:hover::after {
  opacity: 1;
}
.curent-link {
  color: $accent-color;
}

.header-fedback {
  display: flex;
  align-items: center;
  margin-left: auto;
  fill: $main-text-color;
}
.envelope-icon {
  margin-right: 10px;
}
.smarphone-icon {
  margin-right: 10px;
  height: 16px;
  width: 10px;
}

.header-links {
  padding: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;
  transition: color $animation-duration $animation-type;
}
.header-links > .nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-links a,
.header-contacts a {
  color: inherit;
}
.header-links a:focus,
.header-links a:hover,
.header-contacts a:focus,
.header-contacts a:hover {
  fill: $accent-color;
  color: $accent-color;
  transition: color $animation-duration $animation-type;
}
.header-contacts {
  margin-left: auto;
}
/* fedback */
.header-fedback {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-left: 50px;
  margin-right: auto;
}
